@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Raleway:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata:wght@200&family=Oswald:wght@200&family=Quicksand:wght@300&family=Raleway:ital,wght@1,200&display=swap');
:root{
    --primary-color: #A8E0FF;
    --secondary-color: #70CAD1;
    --accent1-color: #B08EA2;
    --accent2-color: #8EE3F5;

    --heading-font: 'Inconsolata';
    --paragraph-font: 'Oswald';

    --nav-background-color: #ADD8E6;
    --nav-link-color: #FF0000;
    --nav-hover-link-color: #666362;
    --nav-hover-background-color: #D1D0CE;
}

body {
    max-width: 1200px;
    margin: auto;
}

.hero img.heroimg {
    width: 1200px;
}

p {
    font-family: var(--paragraph-font);
}

h1, h2, h3 {
    font-family: var(--heading-font);
}

h2 {
    text-align: center;
}

.hero h1 {
    position: absolute;
    text-align: center;
    top: 100px;
    background-color: rgba(0,0,0, 0.5);
    color: white;
    width: 1200px;
    padding: 20px 0;
    font-weight: bold;
}

header {
    background-color: var(--primary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;  
}

.boton { 
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: 2px solid var(--nav-hover-link-color);
    color: black;
    border-radius: 20px;
    background-color: var(--nav-hover-background-color);
}
.boton:hover {
    background-color: var(--nav-hover-link-color);
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.history h2 {
    margin-top: 0;
}

.columns {
    display: flex;
    justify-content: space-around;
}

.column {
    flex: 1;
    padding: 10px;
    max-width: 250px; 
    text-align: center;
    margin-bottom: 10px; 
}

.column img {
    max-width: 100%;
    width: 150px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    height: auto;
}

article {
    position: absolute;
    top: 400px;
    background-color: rgba(0,0,0, 0.5);
    color: white;
    font-size: 20px;
    width: 1000px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

article img {
    float: right;
    width: 200px;
}

footer .sociallinks img {
    width: 30px;
    height: auto;
}

.adventures {
    text-align: center;
}

.adventures h2 {
    margin-top: 0;
}

.adventure-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adventure-images figure {
    margin: 0 10px;
    text-align: center;
}

.adventure-images figure img {
    max-width: 100%;
    height: auto;
    width: 250px;
}

.adventure-images figure figcaption {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center; 
}

.sociallinks {
    display: flex;
    gap: 10px;
}

.sociallinks a {
    display: block;
}

.sociallinks img {
    width: 30px;
    height: auto;
}

.information {
    display: grid;
    grid-template-columns: 1fr  1fr;
    text-align: center;
    border: 1px solid black;
    background-color: #D1D0CE;
    border-radius: 0.5rem;
}

.information h2 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.information h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.information .address {
    grid-column: 1/2;
    grid-row: 2/3;
}

.information .phone-number {
    grid-column: 1/2;
    grid-row: 3/4;
}

.information .email {
    grid-column: 1/2;
    grid-row: 4/5;
}

.information .map {
    grid-column: 2/3;
    grid-row: 1/5;
}

.employee-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.employee-images img {
    width: 300px;
    height: auto;
    box-shadow: 2px 2px 3px;
}

.employee-images figure {
    text-align: left;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: solid #8B4513;
    border-radius: 2.5rem ;
    background-color: #F8F8FF;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1.5rem;
    border: 1px solid rgba(128, 0, 0, 0.3);
    padding: 1rem;
}

legend {
    padding: 1rem;
    color: #000000;
    font-size: 1.7rem;
    font-weight: bold;
}

button,
select,
textarea {
    font-family: 'Gloria Hallelujah', cursive;
}

button { 
    margin: 1rem;
    background-color: #87CEFA;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: #20B2AA;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
    }

.contact-us h1 {
    text-align: center;
}