@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Raleway:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata:wght@200&family=Oswald:wght@200&family=Quicksand:wght@300&family=Raleway:ital,wght@1,200&display=swap');
:root{
    --primary-color: #A8E0FF;
    --secondary-color: #70CAD1;
    --accent1-color: #B08EA2;
    --accent2-color: #8EE3F5;

    --heading-font: 'Inconsolata';
    --paragraph-font: 'Oswald';

    --nav-background-color: #ADD8E6;
    --nav-link-color: #FF0000;
    --nav-hover-link-color: #666362;
    --nav-hover-background-color: #D1D0CE;
}

body {
    max-width: 1200px;
    margin: auto;
}

.hero img.heroimg {
    width: 1200px;
}

p {
    font-family: var(--paragraph-font);
}

h1, h2, h3 {
    font-family: var(--heading-font);
}

.hero h1 {
    position: absolute;
    text-align: center;
    top: 100px;
    background-color: rgba(0,0,0, 0.5);
    color: white;
    width: 1200px;
    padding: 20px 0;
    font-weight: bold;
}

header {
    background-color: var(--primary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;  
}

.boton { 
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: 2px solid var(--nav-hover-link-color);
    color: black;
    border-radius: 20px;
    background-color: var(--nav-hover-background-color);
}
.boton:hover {
    background-color: var(--nav-hover-link-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    height: auto;
}

article {
    position: absolute;
    top: 400px;
    background-color: rgba(0,0,0, 0.5);
    color: white;
    font-size: 20px;
    width: 1000px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

article img {
    float: right;
    width: 200px;
}

footer .sociallinks img {
    width: 30px;
    height: auto;
}

