*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

main {
    max-width: 850px;
}

aside {
    width: auto;
    margin: 0;
    border: 1px solid steelblue;
    padding: 2px;
    background-color: gainsboro;
    color: hsla(200,0%,0%,.7);
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin: 20px;
    border-top: 1px solid steelblue;
    text-align: center;
}

/* Class Selectors*/

.box {
    margin: 1rem;
    border: 1px solid rgb(0,0,0,.1);
    padding: 1rem;
    background-color: beige;
}

aside {
    width: 500px;
    text-align: center;
}

main img {
    position: fixed right;
    float: right;
}

aside h2 {
    position: absolute;
    top: 574px;
    right: 1135px;
}